{% extends "layout.html" %}
{% block title %}Корзина - Vavip{% endblock %}

{% block content %}
  <h1>Корзина</h1>
  {% if cart_items %}
    <ul>
      {% for item in cart_items %}
        <li>
          <img src="{{ url_for('static', filename='images/' ~ item.image) }}" alt="{{ item.title }}" height="80" />
          <strong>{{ item.title }}</strong><br/>
          {{ item.description }}
        </li>
      {% endfor %}
    </ul>
    <p>Всего товаров: {{ cart_items|length }}</p>
  {% else %}
    <p>Ваша корзина пуста.</p>
  {% endif %}
{% endblock %}
